﻿<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>





    @*all ready commented
   
    <script src="~/Graph/Graph.js"></script>
    <script src="~/Scripts/jequery-datatable/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jequery-datatable/jquery.dataTables.js"></script>
    <link href="~/Content/bootstrap-3.3.4-dist/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,600italic,900,700,300italic,400italic,700italic,900italic&subset=latin,vietnamese" rel="stylesheet" type="text/css">
     <link href="~/Content/jquery-datatable/css/dataTables.responsive.css" rel="stylesheet" />
        <link href="~/Content/jquery-datatable/css/jquery.dataTables.css" rel="stylesheet" />
        <link href="~/Content/jquery-datatable/css/jquery.dataTables_themeroller.css" rel="stylesheet" />
    *@



    @Styles.Render("~/CommonCSS")


    @* satish added to bundle *@
    @* <link href="~/Content/master-style.css" rel="stylesheet" />*@
    @*<link href="~/Content/bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet" />*@
    @*<link href="~/Content/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" />*@
    @*<link href="~/Content/kendo/2016.1.412/kendo.default.min.css" rel="stylesheet" />*@
    @* <link href="~/Content/kendo/2016.1.412/kendo.default.mobile.min.css" rel="stylesheet" />*@
    @* <link href="~/Content/kendo/2016.1.412/kendo.common.min.css" rel="stylesheet" />*@

    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Content/bootstrap-3.3.4-dist/js/jquery.min.js"></script>
    <script src="~/Scripts/kendo/2016.1.412/jquery.min.js"></script>
    <script src="~/Content/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
    <script src="~/Content/bootstrap-3.3.4-dist/js/bootstrap-dialog.js"></script>
    <script src="~/Scripts/json2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @*<link href="~/Content/font/font-style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.1.412/kendo.material.min.css" rel="stylesheet" />
        <link href="~/Content/kendo/2016.1.412/kendo.common-material.min.css" rel="stylesheet" />

    <link href="~/Content/style.css" rel="stylesheet" />*@





</head>
<body>
    <div class="container-fluid">
        <header>
            <div class="container-wrap">
                <div class="row md-padding-top" style="padding: 0">
                    <div style="width: 1600px">
                        <div id="links">
                            <a href="http://www.atlascopco.com/us" class="float-left">
                                <img class="logo.svg" src="/Content/images/AtlasCapcoLogo.png" alt="Atlas Copco logo - home" width="100">
                            </a>
                            <span class="site-links " style="margin-top: 22px;">
                                <strong>
                                    <a class="country" ui-sref="/">ArticleSearch</a>&nbsp&nbsp
                                </strong>
                                <a class="corporate" href="http://www.atlascopco.com/us">atlascopco.com</a>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row sm-padding-top-bottom ">

                <div class="container-fluid scrollZero">
                    <div class="navbar menuParent">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle btn-menu" data-toggle="collapse" data-target="#myNavbar5">
                                <span class="icon-bar first-bg-color"></span>
                                <span class="icon-bar first-bg-color"></span>
                                <span class="icon-bar first-bg-color"></span>
                            </button>
                            <a class="navbar-brand navbar-Head1 xs-padding-top" href="#">
                                @*<img class="logo.svg" src="~/Content/images/AtlasCapcoLogo.png" alt="Atlas Copco logo - home" >*@
                                <img src="../../Content/images/logo-small.svg" alt="" />
                            </a>
                        </div>
                        <div class="collapse navbar-collapse no-padding" id="myNavbar5">
                            <ul class="nav navbar-nav menu">

                                <li class="dropdown">
                                    <a href="@Url.RouteUrl("FamilyCreate")" >Create Family &nbsp&nbsp<span class="fa fa-chevron-circle-down"></span></a>
                                </li>
                                <li class="dropdown">
                                    <a href="/Home" class="dropdown-toggle" data-toggle="dropdown">Article DBs &nbsp&nbsp<span class="fa fa-chevron-circle-down"></span></a>
                                    <ul class="dropdown-menu down-menu1" role="menu">
                                        <li><a href="@Url.Action("index", "Electrical")">Electrical articles</a></li>
                                        <li><a href="~/TypeMaster/Index">Liquids and Semi-solids</a></li>
                                        <li><a href="~/TypeMaster/Index">Measuring Devices</a></li>
                                        <li><a href="@Url.Action("index", "Mechanical")">Mechanical articles</a></li>
                                        <li><a href="~/TypeMaster/Index">Packaging</a></li>
                                        <li><a href="~/TypeMaster/Index">Production Tools</a></li>
                                        <li><a href="~/TypeMaster/Index">Raw Materials</a></li>
                                        <li><a href="~/TypeMaster/Index">Safety Signs and Labels</a></li>
                                        <li><a href="~/TypeMaster/Index">Search Article</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/Listen" class="dropdown-toggle" data-toggle="dropdown">Materials &nbsp&nbsp<span class="fa fa-chevron-circle-down"></span></a>
                                    <ul class="dropdown-menu down-menu1" role="menu">
                                        <li><a href="~/TypeMaster/Index">Raw Materials</a></li>
                                        <li><a href="~/CommodityMaster/Index">Indirect Materials</a></li>
                                        <li><a href="~/ReasonMaster/Index">Search Material</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/Listen" class="dropdown-toggle" data-toggle="dropdown">Documents &nbsp&nbsp<span class="fa fa-chevron-circle-down"></span></a>
                                    <ul class="dropdown-menu down-menu1" role="menu">
                                        <li><a href="~/Home/PivotGrid">Material Safety Data Sheets</a></li>
                                        <li><a href="~/Home/SavingFCSCommodity">Search document</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/Listen" class="dropdown-toggle" data-toggle="dropdown">Substances of Concern &nbsp&nbsp<span class="fa fa-chevron-circle-down"></span></a>
                                    <ul class="dropdown-menu down-menu1" role="menu">
                                        <li><a href="~/Home/PivotGrid">Prohibited List</a></li>
                                        <li><a href="~/Home/SavingFCSCommodity">Declarable List</a></li>
                                        <li><a href="~/Home/SavingFCSCommodity">Prohibited and Declarable List - extended</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/Listen" class="dropdown-toggle" data-toggle="dropdown">Other &nbsp&nbsp<span class="fa fa-chevron-circle-down"></span></a>
                                    <ul class="dropdown-menu down-menu1" role="menu">
                                        <li><a href="~/Home/PivotGrid">Supplier Assessment</a></li>
                                    </ul>
                                </li>
                                @*<li><a href="/Listen" class="dropdown-toggle" data-toggle="dropdown">Search</a></li>*@
                                <li>
                                    <input type="search" class="menu_search" placeholder="Search" /></li>
                                @if (Session["UserName"] != null)
                                {
                                    <li class="float-right loginText"><i class="fa fa-search menu_searchIcon"></i><a href="@Url.Action("LogOut", "Login")">Hi! @Session["UserName"].ToString()<i class="fa fa-power-off sm-padding-left"></i></a></li>    
                                }


                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </header>
        <div id="bodya">
            @*@RenderSection("featured", required: false)*@
            <section class="">
                @RenderBody()
            </section>
        </div>
        <footer>
            @*<div class="content-wrapper">
                    <div class="float-left">
                        <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                    </div>
                </div>*@
            @*<div class="row sixth-bg-color">
                    <div class="container-wrap">
                        <div class="col-sm-12 col-lg-12 md-margin-top-bottom no-padding">
                            <div class="col-lg-8 col-sm-12 xs-margin-top-bottom">
                                <div class="lg-text bold first-color sm-margin-bottom">Get in touch</div>
                                <div class="container-fluid no-padding">
                                    <div class="no-padding" id="myNavbar2">
                                        <ul class="nav navbar-nav menu2 xl-margin-left">
                                            <li><a href="#">Press</a></li>
                                            <li><a href="#">Investor relations</a></li>
                                            <li><a href="#">Product & Services</a></li>
                                            <li><a href="#">Subscribe to news</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12 xs-margin-top-bottom">
                                <div class="lg-text bold first-color sm-margin-bottom followClass">Follow us</div>
                                <div class="container-fluid no-padding">
                                    <div class="no-padding" id="myNavbar3">
                                        <ul class="nav navbar-nav menu3 xl-margin-left inline-flex">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@

            @*<div class="row">
                    <div class="container-wrap">
                        <div class="col-sm-3">
                            <div class="lg-padding-top-bottom">
                                <p class="lg-text bold first-color">Preisübersicht</p>
                                <p class="first-color md-text"><i class="fa fa-angle-right"></i>Option 1</p>
                                <p class="first-color md-text"><i class="fa fa-angle-right"></i>Option 2</p>
                                <p class="first-color md-text"><i class="fa fa-angle-right"></i>Option 3</p>
                                <p class="first-color md-text"><i class="fa fa-angle-right"></i>Option 4</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="lg-padding-top-bottom">
                                <p class="lg-text bold first-color">Listen</p>
                                <p class="first-color md-text"><i class="fa fa-angle-right"></i>Option 1</p>
                                <p class="first-color md-text"><i class="fa fa-angle-right"></i>Option 2</p>
                                <p class="first-color md-text"><i class="fa fa-angle-right"></i>Option 3</p>
                                <p class="first-color md-text"><i class="fa fa-angle-right"></i>Option 4</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="lg-padding-top-bottom">
                                <p class="lg-text bold first-color">Careers</p>
                                <p class="first-color md-text"><i class="fa fa-angle-right"></i>Jobs</p>
                                <p class="first-color md-text"><i class="fa fa-angle-right"></i>Grow with us</p>
                                <p class="first-color md-text"><i class="fa fa-angle-right"></i>Students</p>
                                <p class="first-color md-text"><i class="fa fa-angle-right"></i>Meet our colleagues</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="lg-padding-top-bottom">
                                <p class="lg-text bold first-color">Media</p>
                                <p class="first-color md-text"><i class="fa fa-angle-right"></i>Corporate press releases</p>
                                <p class="first-color md-text"><i class="fa fa-angle-right"></i>Innovation stories</p>
                                <p class="first-color md-text"><i class="fa fa-angle-right"></i>Achieve magazine</p>
                                <p class="first-color md-text"><i class="fa fa-angle-right"></i>Photos and videos</p>
                            </div>
                        </div>
                    </div>
                </div>*@

            <div class="row border-top border-bottom fourth-border-color">
                <div class="container-wrap">
                    <div class="col-sm-12 md-margin-top-bottom no-padding">
                        <div class="col-lg-2 col-sm-3">
                            <img src="../../Content/images/1459243245550.png" alt="" width="100%" height="100%" />
                        </div>
                        <div class="col-lg-6 col-lg-offset-4 col-sm-9">
                            <div class="container-fluid no-padding noticeClass">
                                <div class="no-padding" id="myNavbar4">
                                    <ul class="nav navbar-nav menu4 xl-margin-left">
                                        <li><a href="#">Legal notice & cookies</a></li>
                                        <li><a href="#">Sitemap</a></li>
                                        <li><a href="#">© 2016 Atlas Copco AB</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
   @* @Scripts.Render("~/Scripts")
    @Scripts.Render("~/Scripts/kendo/2016.1.412")
    @RenderSection("scripts", required: false)*@
</body>
</html>
<script type="text/javascript">
    var windowWidth = $(window).width();
    if (windowWidth > 768) {
        //    $(".menu > li").hover(function () {
        //        $(this).toggleClass("open");
        //    });
        //    $(".menu > li > .dropdown - menu").hover(function () {
        //        $(this).toggleClass("open");
        //    });

    }
    $(window).scroll(function () {
        var top1 = $(window).scrollTop();
        if (top1 > 100) {
            $(".scrollZero").addClass("scrollMenu");
            $(".scrollMenu").removeClass("scrollZero");
            $(".navbar-Head1").addClass("navbar-Head1-show");
            $(".firstLi").addClass("firstLi1");
            $(".searchIcon").addClass("searchIcon-show");
            $(".menu").addClass("topMenuwidth");
            $(".menu").removeClass("topMenuwidth1");
        }
        else {
            $(".scrollMenu").addClass("scrollZero");
            $(".scrollZero").removeClass("scrollMenu");
            $(".navbar-Head1").removeClass("navbar-Head1-show");
            $(".firstLi").removeClass("firstLi1");
            $(".searchIcon").removeClass("searchIcon-show");
            $(".menu").addClass("topMenuwidth1");
            $(".menu").removeClass("topMenuwidth");
        }
    });

    if (windowWidth < 768) {
        $(".loginText").removeClass("float-right");
    }
</script>

@* allready coomented @Scripts.Render("~/bundles/jqueryval")*@

@*@Scripts.Render("~/Scripts")
@Scripts.Render("~/Content/bootstrap-3.3.4-dist/js")
@Scripts.Render("~/Scripts/kendo/2016.1.412")
@Scripts.Render("~/Scripts/kendo")

@Styles.Render("~/Content")
@Styles.Render("~/Content/bootstrap-3.3.4-dist/css")
@Styles.Render("~/Content/font")
@Styles.Render("~/Content/font-awesome-4.3.0/css")
@Styles.Render("~/Content/kendo/2016.1.412")*@

