﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>

    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/master-style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font/font-style.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-3.3.4-dist/js/jquery.min.js"></script>
    <script src="~/Content/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/bootstrap-3.3.4-dist/js/bootstrap-dialog.js"></script>
</head>
<body>
    <div class="container-fluid">
        @RenderSection("featured", required: false)
        <section class="clear-fix">
            @RenderBody()
        </section>
    </div>
</body>
</html>