﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row sm-padding-bottom border-bottom fifth-border-color">
    <div class="col-lg-12 col-sm-12">
        <div class="col-lg-12 col-sm-12">
            <div><span class="first-color">Index Level &nbsp:</span><span> 1 </span></div>
            <div><span class="first-color">Index Name : </span><span>Electrical Articles</span></div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row md-margin-top-bottom">
        <div class="col-lg-12 col-sm-12">
            <div class="btn-group">
                <a href="@Url.Action("Index", "Electrical")" class="btn fifth-border-color first-bg-color fifth-color">Search Index</a>
                <a href="@Url.Action("Search_Form", "Electrical")" class="btn fifth-border-color first-bg-color fifth-color">Search Form</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 sm-margin-top-bottom">
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="@Url.Action("Rotating", "Electrical")" title="Rotating electrical machines">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Rotating electrical machines
                                <span class="badge float-right fifth-bg-color first-color">1</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/Index1/4.gif" />
                                <img src="/Content/images/Index1/7.gif" />
                                <img src="/Content/images/Index1/9.gif" />
                                <img src="/Content/images/Index1/13.gif" />
                                <img src="/Content/images/Index1/14.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Transformers, transducers and inductors">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Transformers, transducers and inductors
                                <span class="badge float-right fifth-bg-color first-color">2</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/Index1/1.gif" />
                                <img src="/Content/images/Index1/15.gif" />
                                <img src="/Content/images/Index1/10.gif" />
                                <img src="/Content/images/Index1/11.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Voltage Converters, rectifiers, batteries and energy sources">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Voltage Converters, rectifiers, batteries and energy sources
                                <span class="badge float-right fifth-bg-color first-color">3</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/Index1/3.gif" />
                                <img src="/Content/images/Index1/6.gif" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 sm-margin-top-bottom">
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Instruments and Transducers, Gauges, Sensors and Guards">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Instruments and Transducers, Gauges, Sensors and Guards
                                <span class="badge float-right fifth-bg-color first-color">4</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/Index1/0.gif" />
                                <img src="/Content/images/Index1/2.gif" />
                                <img src="/Content/images/Index1/5.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Signaling apparatus, lighting and heating/cooling devices">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Signaling apparatus, lighting and heating/cooling devices
                                <span class="badge float-right fifth-bg-color first-color">5</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/Index1/16.gif" />
                                <img src="/Content/images/Index1/23.gif" />
                                <img src="/Content/images/Index1/28.gif" />
                                <img src="/Content/images/Index1/31.gif" />
                                <img src="/Content/images/Index1/32.gif" />
                                <img src="/Content/images/Index1/34.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Contactors, Guards, Overload protection and others for breaking circuits">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Contactors, Guards, Overload protection and others for breaking circuits
                                <span class="badge float-right fifth-bg-color first-color">6</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/Index1/21.gif" />
                                <img src="/Content/images/Index1/30.gif" />
                                <img src="/Content/images/Index1/33.gif" />
                                <img src="/Content/images/Index1/21.gif" />
                                <img src="/Content/images/Index1/30.gif" />
                                <img src="/Content/images/Index1/33.gif" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 sm-margin-top-bottom">
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="PASSIVE Components and elements for el. designwork ( i e PCB ), Resistors, Capacitors">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                PASSIVE Components and elements for el. designwork ( i e PCB ), Resistors, Capacitors
                                <span class="badge float-right fifth-bg-color first-color">7</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/Index1/22.gif" />
                                <img src="/Content/images/Index1/25.gif" />
                                <img src="/Content/images/Index1/35.gif" />
                                <img src="/Content/images/Index1/37.gif" />
                                <img src="/Content/images/Index1/36.gif" />
                                <img src="/Content/images/Index1/38.gif" />
                                <img src="/Content/images/Index1/41.gif" />
                                <img src="/Content/images/Index1/12.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="ACTIVE Components and circuits for el. designwork ( i e PCB )">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                ACTIVE Components and circuits for el. designwork ( i e PCB )
                                <span class="badge float-right fifth-bg-color first-color">8</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/Index1/17.gif" />
                                <img src="/Content/images/Index1/18.gif" />
                                <img src="/Content/images/Index1/24.gif" />
                                <img src="/Content/images/Index1/26.gif" />
                                <img src="/Content/images/Index1/27.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Enclosure materials, Installation equipment, Cabinets with Accessories">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Enclosure materials, Installation equipment, Cabinets with Accessories
                                <span class="badge float-right fifth-bg-color first-color">9</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/Index1/19.gif" />
                                <img src="/Content/images/Index1/20.gif" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


