﻿@model ArticleSearch.Model.ArticleSearchParameters
@{
    ViewBag.Title = "Search_Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row sm-padding-bottom border-bottom fifth-border-color">
    <div class="col-lg-12 col-sm-12">
        <div class="col-lg-12 col-sm-12">
            <div><a href="/Home/Index" class="xs-padding-right first-color">Home </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><a href="/Electrical/Index" class="xs-padding-right first-color">1 </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><a href="/Electrical/Rotating" class="xs-padding-right first-color">1.01 </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><a href="/Electrical/Asynchronous" class="xs-padding-right first-color">1.01.01 </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><a href="/Electrical/Slip_ring" class="xs-padding-right first-color">1.01.01.01 </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><span>Search Form</span></div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row md-margin-top-bottom">
        <div class="col-sm-12">
            <div class="btn-group">
                <a href="@Url.Action("Index", "Electrical")" class="btn fifth-border-color first-bg-color fifth-color">Search Index</a>
                <a href="@Url.Action("Search_Form", "Electrical")" class="btn fifth-border-color first-bg-color fifth-color">Search Form</a>
                <a href="#" class="btn fifth-border-color first-bg-color fifth-color" data-toggle="modal" data-target="#myModal">Create</a>
                <div class="btn-group">
                    <a href="#" class="btn fifth-border-color first-bg-color fifth-color dropdown-toggle" data-toggle="dropdown">View &nbsp<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@Url.Action("Family_Fig", "Electrical")">Family Figures</a></li>
                        <li><a href="#">Family Description</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    @using (Ajax.BeginForm("SearchForm_byParameters", "Electrical", new AjaxOptions { HttpMethod = "POST", OnSuccess = "call" }))
{
    
     <div class="row md-margin-top-bottom">
            <div class="col-lg-12 col-sm-12 no-padding form-group">
                <div class="col-lg-4 col-sm-4 no-padding">
                    <div class="col-lg-5 col-sm-5">
                        <label for=" usr">
                            Family Number:
                        </label>
                    </div>
                    <div class="col-lg-7 col-sm-7">
                      @Html.TextBoxFor(m => m.FamilyNo, new { @class="form-control", @type="text", @id="txtFamilyNo"}) @*<input type="text" class="form-control" id="txtFamilyNo" >*@
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 no-padding">
                    <div class="col-lg-5 col-sm-5">
                        <label for=" usr">
                            Article Number:
                        </label>
                    </div>
                    <div class="col-lg-7 col-sm-7">
                        @Html.TextBoxFor(m => m.ArticleNo, new { @class="form-control", @type="text", @id="txtArticleNo"})@* <input type="text" class="form-control" id="txtArticleNo">*@
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 no-padding">
                    <div class="col-lg-5 col-sm-5">
                        <label for=" usr">
                            Article Name:
                        </label>
                    </div>
                    <div class="col-lg-7 col-sm-7">
                        @Html.TextBoxFor(m => m.ArticleName, new { @class="form-control", @type="text", @id="txtArticleNo"}) @*<input type="text" class="form-control" id="txtArticleName">*@
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 no-padding form-group">
                <div class="col-lg-4 col-sm-4 no-padding">
                    <div class="col-lg-5 col-sm-5">
                        <label for=" usr">
                            Technical Data:
                        </label>
                    </div>
                    <div class="col-lg-7 col-sm-7">
                      @Html.TextBoxFor(m => m.TechnicalData, new { @class="form-control", @type="text", @id="txtTechnicalData"})  @*<input type="text" class="form-control" id="txtTechnicalData">*@
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 no-padding">
                    <div class="col-lg-5 col-sm-5">
                        <label for=" usr">
                            Additional Data:
                        </label>
                    </div>
                    <div class="col-lg-7 col-sm-7">
                      @Html.TextBoxFor(m => m.AdditionalData, new { @class="form-control", @type="text", @id="txtAdditionalData"})   @*<input type="text" class="form-control" id="txtAdditionalData">*@
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 no-padding">
                    <div class="col-lg-5 col-sm-5">
                        <label for=" usr">
                            Company Code:
                        </label>
                    </div>
                    <div class="col-lg-7 col-sm-7">
                        
                        <select class="form-control" id="sel1">
                            <option value="">Option</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 no-padding form-group">
                <div class="col-lg-4 col-sm-4 no-padding">
                    <div class="col-lg-5 col-sm-5">
                        <label for=" usr">
                            Supplier Name :
                        </label>
                    </div>
                    <div class="col-lg-7 col-sm-7">
                       @Html.TextBoxFor(m => m.supplyerName, new {@class="form-control", @type="text", @id="txtSupplyerName" }) @*<input type="text" class="form-control" id="txtSupplyerName">*@
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 no-padding">
                    <div class="col-lg-5 col-sm-5">
                        <label for=" usr">
                            Designation:
                        </label>
                    </div>
                    <div class="col-lg-7 col-sm-7">
                       @Html.TextBoxFor(m => m.supplyerName, new {@class="form-control", @type="text", @id="txtDesignation" }) @* <input type="text" class="form-control" id="txtDesignation">*@
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 no-padding">
                    <div class="col-lg-5 col-sm-5">
                        <label for=" usr">
                            SG:
                        </label>
                    </div>
                    <div class="col-lg-7 col-sm-7">
                        <select class="form-control" id="ddl_sg">
                            <option value="0">Option</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 no-padding form-group">
                <div class="col-lg-4 col-sm-4 no-padding">
                    <div class="col-lg-5 col-sm-5">
                        <label for=" usr">
                            SC:
                        </label>
                    </div>
                    <div class="col-lg-7 col-sm-7">
                        <select class="form-control" id="ddl_sc">
                            <option value="">Option</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 text-center md-margin-top-bottom">
               
               @* <button class="btn first-bg-color fifth-color" onclick="search()">Search</button>*@
                <input type="submit" value="search" class="btn first-bg-color fifth-color" />
            </div>
        </div>
}
</div>


<div id="example">
    <div id="grid"></div>
    <script >
        function search() {
            var familyNo = $("#txtFamilyNo").val();
            var articleNo = document.getElementById("txtArticleNo").value;
            var articleName = document.getElementById("txtArticleName").value;
            var SG = document.getElementById("ddl_sg").value;
            var SC = document.getElementById("ddl_sc").value;
            var supplyerName = document.getElementById("txtSupplyerName").value;
            var supplyerDesignation = document.getElementById("txtDesignation").value;
            var technicalData = document.getElementById("txtTechnicalData").value;

            var model = { familyNo: familyNo, articleNo: articleNo, articleName: articleName, SG: SG, SC: SC, TechnicalData: technicalData, supplyerName: supplyerName, supplyerDesignation: supplyerDesignation };
           @* thisa is old ajax call $.ajax({
                
                
                //url: '/Electrical/SearchForm_byParameters',
                contentType: "application/json; charset=utf-8",
                //data: { FamilyNo: 1 , ArticleNo:,ArticleName,TechnicalData,AdditionalData,CompanyCode,SpecificComppanyDesignation,SG,,SC,hits},

               
            //data: { familyNo: familyNo, articleNo: articleNo, articleName: articleName, SG: SG, SC: SC, TechnicalData: technicalData, supplyerName: supplyerName, supplyerDesignation: supplyerDesignation },
                type: "POST",
                data:JSON.stringify(model),
                url: '@Url.Action("SearchForm_byParameters", "Electrical")',
                dataType: "json",
                success: function (result) {
                    alert(result);
                    window.locationre = result.url;
                    call(result);
                },
                error: function (error) {

                }
            });*@
        }

        function call(data) {
            // var temp = [{ "name": "family1", "age": "123", "col1": "Dim1_dimeter", "col2": "Dim2_redius" }, { "name": "family2", "age": "123", "col1": "Voltage"}];
            //var temp1 = [{ "Dim1_dimeter": "temp", "Dim2_redius": "123" }, { "Voltage": "sss" }];
            // var temp = [{ "Id": 71, "ArticleNo": "0983 2460 07", "ProductFamilyId": 346, "ProductFamilName": "Aluminium electrolytic capacitors;Aluminiumelektrolytkondensatorer", "ProductFamilyNo": "0983 2460 00", "ArticleName": "CAPACITOR", "SG": 1, "SupplierName": "RS components;EPCOS", "SupplierDesignation": "255-0181;B41456B7479M000", "StandardReference": null, "DrawingNo": "", "SpecificCompany": null, "UsedAt": "ARP;AIP", "SC": "1;2", "ArticleXMLdata": "\u003cdims\u003e\u003cDimension Id= \" 1328 \"  value=  \" 47000 µF \" /\u003e\u003cDimension Id= \" 1329 \"  value=  \" ± 20 % \" /\u003e\u003cDimension Id= \" 1330 \"  value=  \" 40V \" /\u003e\u003cDimension Id= \" 1331 \"  value=  \" -40°C to +85°C \" /\u003e\u003cDimension Id= \" 1332 \"  value=  \" \u003e12000 h at 85°C \" /\u003e\u003c/dims\u003e", "ArticleDimensonColoms": ["Capacity", "Capacity tolerance", "U max", "Temperature range", "Life expectancy"], "ArticleDimensonData": [" 47000 µF ", " ± 20 % ", " 40V ", " -40°C to +85°C ", " \u003e12000 h at 85°C "] }, { "Id": 72, "ArticleNo": "0983 2460 08", "ProductFamilyId": 346, "ProductFamilName": "Aluminium electrolytic capacitors;Aluminiumelektrolytkondensatorer", "ProductFamilyNo": "0983 2460 00", "ArticleName": "CAPACITOR", "SG": 1, "SupplierName": "RS components;EPCOS", "SupplierDesignation": "255-0169;B41456B7109M000", "StandardReference": null, "DrawingNo": "", "SpecificCompany": null, "UsedAt": "AIP;ARP;AID", "SC": "1;1;2", "ArticleXMLdata": "\u003cdims\u003e\u003cDimension Id= \" 1328 \"  value=  \" 10000 µF \" /\u003e\u003cDimension Id= \" 1329 \"  value=  \" ± 20 % \" /\u003e\u003cDimension Id= \" 1330 \"  value=  \" 40 V \" /\u003e\u003cDimension Id= \" 1331 \"  value=  \" -40°C to +85°C \" /\u003e\u003cDimension Id= \" 1332 \"  value=  \" \u003e12000 h at 85°C \" /\u003e\u003c/dims\u003e", "ArticleDimensonColoms": ["Capacity", "Capacity tolerance", "U max", "Temperature range", "Life expectancy"], "ArticleDimensonData": [" 10000 µF ", " ± 20 % ", " 40 V ", " -40°C to +85°C ", " \u003e12000 h at 85°C "] }]
           var temp = data; //satish comment now
            //test
            for (var i = 0; i < data.length; i++)
            {
                temp[i].ProductFamilName = data[i].ArticleData[0].ProductFamilName;
                //family No is all ready Mapped.
            }
            //end test

            $(document).ready(function () {
                var element = $("#grid").kendoGrid({
                    dataSource: temp,
                    height: 1200,
                    groupable: true,
                    sortable: true,
                    pageable: { refresh: true, pageSizes: true, buttonCount: 5, responsive: true, },
                    filterable: { mode: "row" },
                    scrolable:true,
                    detailInit: detailInit,//click

                    dataBound: function () {
                        this.expandRow(this.tbody.find("tr.k-master-row").first());
                    },
                    columns: [
                        {
                            field: "ProductFamilyNo", title: "Product Family No.", width: 120,
                            filterable:
                                {
                                    cell:
                                        {
                                          showOperators: false
                                         }
                                }
                        },
                        {
                            field: "ProductFamilName", title: "Product Family Name", width: 700,
                            filterable:
                               {
                                   cell:
                                       {
                                           showOperators: false //"contains"
                                       }
                               }
                        }
                    ]
                });
            });

            function detailInit(e) {//id

                var tempCols = [];
                tempCols.push({
                    "field": "ArticleName",
                    "title": "ArticleName",
                    "width": 150,
                    filterable:
                              {
                                  cell:
                                      {
                                          showOperators: false
                                      }
                              }
                    
                });
                tempCols.push({
                    "field": "ArticleNo", // cols,
                    "title": "ArticleNo", //cols,
                    "width": 150,
                    filterable:
                              {
                                  cell:
                                      {
                                          showOperators: false
                                      }
                              }
                });
                tempCols.push({
                    "field": "DrawingNo", // cols,
                    "title": "DrawingNo", //cols,
                    "width": 150,
                    filterable:
                              {
                                  cell:
                                      {
                                          showOperators: false
                                      }
                              }
                });

                for (var i = 0; i < e.data.ArticleData[0].ArticleDimensonColoms.length; i++) {
                    
                    tempCols.push({
                        "field": e.data.ArticleData[0].ArticleDimensonColoms[i].toString().replace(/[\s.+-/]+/g, ""), // cols,
                        "title": e.data.ArticleData[0].ArticleDimensonColoms[i], //cols,
                        "width": 150,
                        filterable:
                             {
                                 cell:
                                     {
                                         showOperators: false
                                     }
                             }
                    })
                }

                //colom values 
                var tempValues = [];
                for (var i_ = 0; i_ < e.data.ArticleData.length; i_++)
                {
                    var rowObj = {};
                    rowObj["ArticleName"] = e.data.ArticleData[i_].ArticleName;// e.data.ArticleName; e.data.ArticleData[0].ArticleName
                    rowObj["ArticleNo"] = e.data.ArticleData[i_].ArticleNo;//e.data.ArticleNo;
                    rowObj["DrawingNo"] = e.data.ArticleData[i_].DrawingNo //e.data.ArticleNo;

                    //putting dynamic coloms values
                    var j = 3;
                    for (var i = 0; i < e.data.ArticleData[0].ArticleDimensonColoms.length; i++) {

                        var Dim_col = tempCols[j].title.toString().replace(/[\s.+-/]+/g, "");
                        rowObj[Dim_col] = e.data.ArticleData[i_].ArticleDimensonData[i].toString().trim();
                        j++;

                    }
                    tempValues.push(rowObj);
                }
                
                var myJsonString = tempValues;
                $("<div/>").appendTo(e.detailCell).kendoGrid({

                    dataSource:tempValues,// temp,//tempValues,//temp1,
                    scrollable: true,
                    groupable: true,
                    sortable: true,
                    pageable: true,
                    height:650,
                    responsive: true,
                    filterable: { mode: "row" },
                    columns:tempCols
                

                });
                
            }
        }
        function OnSuccess_(e) { //function CouponSubmitted(data) in the question
            debugger
            var json = e.get_response().get_object();
            alert(json.success);
        }
        //refreshing kendo
        //$('#grid').data('kendoGrid').dataSource.read();
        //$('#grid').data('kendoGrid').refresh();
    </script>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header first-bg-color fifth-color">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create</h4>
            </div>
            <div class="modal-body text-center first-color md-margin-top-bottom">
                <h1 class="bold">Coming Soon</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn first-bg-color fifth-color" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
