﻿@{
    ViewBag.Title = "Fasteners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row sm-padding-bottom border-bottom fifth-border-color">
    <div class="col-lg-12 col-sm-12">
        <div class="col-lg-12 col-sm-12">
            <div><span class="first-color">Index Level &nbsp:</span><a href="/Mechanical/Index" class="xs-padding-right first-color"> 1 </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><span> 1.01 </span></div>
            <div><span class="first-color">Index Name : </span><span>Fasteners - Fästelement</span></div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row md-margin-top-bottom">
        <div class="col-lg-12 col-sm-12">
            <div class="btn-group">
                <a href="@Url.Action("Index", "Mechanical")" class="btn fifth-border-color first-bg-color fifth-color">Search Index</a>
                <a href="@Url.Action("Search_Form", "Mechanical")" class="btn fifth-border-color first-bg-color fifth-color">Search Form</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 sm-margin-top-bottom">
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="@Url.Action("Pins", "Mechanical")" title="Pins">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Pins
                                <span class="badge float-right fifth-bg-color first-color">1</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/M_Index2/0.gif" />
                                <img src="/Content/images/M_Index2/1.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Rivets">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Rivets
                                <span class="badge float-right fifth-bg-color first-color">2</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/M_Index2/2.gif" />
                                <img src="/Content/images/M_Index2/3.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Screws">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Screws
                                <span class="badge float-right fifth-bg-color first-color">3</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/M_Index2/4.gif" />
                                <img src="/Content/images/M_Index2/5.gif" />
                                <img src="/Content/images/M_Index2/6.gif" />
                                <img src="/Content/images/M_Index2/7.gif" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 sm-margin-top-bottom">
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Thread inserts">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Thread inserts
                                <span class="badge float-right fifth-bg-color first-color">4</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/M_Index2/8.gif" />
                                <img src="/Content/images/M_Index2/9.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Nuts">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Nuts
                                <span class="badge float-right fifth-bg-color first-color">5</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/M_Index2/10.gif" />
                                <img src="/Content/images/M_Index2/11.gif" />
                                <img src="/Content/images/M_Index2/12.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Washers">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Washers
                                <span class="badge float-right fifth-bg-color first-color">6</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/M_Index2/13.gif" />
                                <img src="/Content/images/M_Index2/14.gif" />
                                <img src="/Content/images/M_Index2/15.gif" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 sm-margin-top-bottom">
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Shims, sleeves, spacers and locking dogs">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Shims, sleeves, spacers and locking dogs
                                <span class="badge float-right fifth-bg-color first-color">7</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/M_Index2/16.gif" />
                                <img src="/Content/images/M_Index2/17.gif" />
                                <img src="/Content/images/M_Index2/18.gif" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
