﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row sm-padding-bottom border-bottom fifth-border-color">
    <div class="col-lg-12 col-sm-12">
        <div class="col-lg-12 col-sm-12">
            <div><span class="first-color">Index Level &nbsp:</span><span> 1 </span></div>
            <div><span class="first-color">Index Name : </span><span>Mechanical Articles</span></div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row md-margin-top-bottom">
        <div class="col-lg-12 col-sm-12">
            <div class="btn-group">
                <a href="@Url.Action("Index", "Mechanical")" class="btn fifth-border-color first-bg-color fifth-color">Search Index</a>
                <a href="@Url.Action("Search_Form", "Mechanical")" class="btn fifth-border-color first-bg-color fifth-color">Search Form</a>
            </div>
        </div>
        <div class="row">
            <div class=" col-sm-12 sm-margin-top-bottom">
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="@Url.Action("Fasteners", "Mechanical")" title="Fasteners">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Fasteners
                                <span class="badge float-right fifth-bg-color first-color">1</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/M_Index1/0.gif" />
                                <img src="/Content/images/M_Index1/1.gif" />
                                <img src="/Content/images/M_Index1/2.gif" />
                                <img src="/Content/images/M_Index1/3.gif" />
                                <img src="/Content/images/M_Index1/4.gif" />
                                <img src="/Content/images/M_Index1/5.gif" />
                                <img src="/Content/images/M_Index1/6.gif" />
                                <img src="/Content/images/M_Index1/7.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Clamping and power transmission parts">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Clamping and power transmission parts
                                <span class="badge float-right fifth-bg-color first-color">2</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/M_Index1/8.gif" />
                                <img src="/Content/images/M_Index1/9.gif" />
                                <img src="/Content/images/M_Index1/10.gif" />
                                <img src="/Content/images/M_Index1/11.gif" />
                                <img src="/Content/images/M_Index1/12.gif" />
                                <img src="/Content/images/M_Index1/13.gif" />
                                <img src="/Content/images/M_Index1/14.gif" />
                                <img src="/Content/images/M_Index1/15.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Bearings and accessories">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Bearings and accessories
                                <span class="badge float-right fifth-bg-color first-color">3</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/M_Index1/16.gif" />
                                <img src="/Content/images/M_Index1/17.gif" />
                                <img src="/Content/images/M_Index1/18.gif" />
                                <img src="/Content/images/M_Index1/19.gif" />
                                <img src="/Content/images/M_Index1/20.gif" />
                                <img src="/Content/images/M_Index1/21.gif" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 sm-margin-top-bottom">
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Lubricating nipples, pipes and pipe fittings, JIC pipe fittings, pipe fittings with O-ring face seal, flanged fittings, hose couplings and nipples, hoses and hose assemblies, swivels, etc.">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Lubricating nipples, pipes and pipe fittings, JIC pipe fittings, pipe fittings with O-ring face seal, flanged fittings, hose couplings and nipples, hoses and hose assemblies, swivels, etc.
                                <span class="badge float-right fifth-bg-color first-color">4</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/M_Index1/22.gif" />
                                <img src="/Content/images/M_Index1/23.gif" />
                                <img src="/Content/images/M_Index1/24.gif" />
                                <img src="/Content/images/M_Index1/25.gif" />
                                <img src="/Content/images/M_Index1/26.gif" />
                                <img src="/Content/images/M_Index1/27.gif" />
                                <img src="/Content/images/M_Index1/28.gif" />
                                <img src="/Content/images/M_Index1/29.gif" />
                                <img src="/Content/images/M_Index1/30.gif" />
                                <img src="/Content/images/M_Index1/31.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Push-in couplings, clamping and cutting ring couplings. nipples, bushings, sockets, banjo unions, flanges, etc.">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Push-in couplings, clamping and cutting ring couplings. nipples, bushings, sockets, banjo unions, flanges, etc.
                                <span class="badge float-right fifth-bg-color first-color">5</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/M_Index1/32.gif" />
                                <img src="/Content/images/M_Index1/33.gif" />
                                <img src="/Content/images/M_Index1/34.gif" />
                                <img src="/Content/images/M_Index1/35.gif" />
                                <img src="/Content/images/M_Index1/36.gif" />
                                <img src="/Content/images/M_Index1/37.gif" />
                                <img src="/Content/images/M_Index1/38.gif" />
                                <img src="/Content/images/M_Index1/39.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Plugs, gaskets, sealings, piston rings, marking, indicators and gauges.">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Plugs, gaskets, sealings, piston rings, marking, indicators and gauges.
                                <span class="badge float-right fifth-bg-color first-color">6</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/M_Index1/40.gif" />
                                <img src="/Content/images/M_Index1/41.gif" />
                                <img src="/Content/images/M_Index1/42.gif" />
                                <img src="/Content/images/M_Index1/43.gif" />
                                <img src="/Content/images/M_Index1/44.gif" />
                                <img src="/Content/images/M_Index1/45.gif" />
                                <img src="/Content/images/M_Index1/46.gif" />
                                <img src="/Content/images/M_Index1/47.gif" />
                                <img src="/Content/images/M_Index1/48.gif" />
                                <img src="/Content/images/M_Index1/49.gif" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 sm-margin-top-bottom">
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Air receivers, strainers, filters, water separators, safety valves, directional valves, cocks, etc.">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Air receivers, strainers, filters, water separators, safety valves, directional valves, cocks, etc.
                                <span class="badge float-right fifth-bg-color first-color">7</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/M_Index1/50.gif" />
                                <img src="/Content/images/M_Index1/51.gif" />
                                <img src="/Content/images/M_Index1/52.gif" />
                                <img src="/Content/images/M_Index1/53.gif" />
                                <img src="/Content/images/M_Index1/54.gif" />
                                <img src="/Content/images/M_Index1/55.gif" />
                                <img src="/Content/images/M_Index1/56.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Hydraulic valves, Butterfly valves, filters, strainers, coolers, accumulators, tanks, motors, pumps and cylinders">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Hydraulic valves, Butterfly valves, filters, strainers, coolers, accumulators, tanks, motors, pumps and cylinders
                                <span class="badge float-right fifth-bg-color first-color">8</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/M_Index1/57.gif" />
                                <img src="/Content/images/M_Index1/58.gif" />
                                <img src="/Content/images/M_Index1/59.gif" />
                                <img src="/Content/images/M_Index1/60.gif" />
                                <img src="/Content/images/M_Index1/61.gif" />
                                <img src="/Content/images/M_Index1/62.gif" />
                                <img src="/Content/images/M_Index1/63.gif" />
                                <img src="/Content/images/M_Index1/64.gif" />
                                <img src="/Content/images/M_Index1/65.gif" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="example">
        <div id="grid"></div>
    <script>

        //var temp = [{ "name": "family1", "age": "123","col1":"Dim1_dimeter","col2":"Dim2_redius" }, { "name": "family2", "age": "123","col1":"Voltage","col2":"meter" }];
        //var temp1 = [{ "Dim1_dimeter": "temp", "Dim2_redius": "123" }, { "Voltage": "sss", "meter": "123" }];
        var temp = [{ "Id": 71, "ArticleNo": "0983 2460 07", "ProductFamilyId": 346, "ProductFamilName": "Aluminium electrolytic capacitors;Aluminiumelektrolytkondensatorer", "ProductFamilyNo": "0983 2460 00", "ArticleName": "CAPACITOR", "SG": 1, "SupplierName": "RS components;EPCOS", "SupplierDesignation": "255-0181;B41456B7479M000", "StandardReference": null, "DrawingNo": "", "SpecificCompany": null, "UsedAt": "ARP;AIP", "SC": "1;2", "ArticleXMLdata": "\u003cdims\u003e\u003cDimension Id= \" 1328 \"  value=  \" 47000 µF \" /\u003e\u003cDimension Id= \" 1329 \"  value=  \" ± 20 % \" /\u003e\u003cDimension Id= \" 1330 \"  value=  \" 40V \" /\u003e\u003cDimension Id= \" 1331 \"  value=  \" -40°C to +85°C \" /\u003e\u003cDimension Id= \" 1332 \"  value=  \" \u003e12000 h at 85°C \" /\u003e\u003c/dims\u003e", "ArticleDimensonColoms": ["Capacity", "Capacity tolerance", "U max", "Temperature range", "Life expectancy"], "ArticleDimensonData": [" 47000 µF ", " ± 20 % ", " 40V ", " -40°C to +85°C ", " \u003e12000 h at 85°C "] }, { "Id": 72, "ArticleNo": "0983 2460 08", "ProductFamilyId": 346, "ProductFamilName": "Aluminium electrolytic capacitors;Aluminiumelektrolytkondensatorer", "ProductFamilyNo": "0983 2460 00", "ArticleName": "CAPACITOR", "SG": 1, "SupplierName": "RS components;EPCOS", "SupplierDesignation": "255-0169;B41456B7109M000", "StandardReference": null, "DrawingNo": "", "SpecificCompany": null, "UsedAt": "AIP;ARP;AID", "SC": "1;1;2", "ArticleXMLdata": "\u003cdims\u003e\u003cDimension Id= \" 1328 \"  value=  \" 10000 µF \" /\u003e\u003cDimension Id= \" 1329 \"  value=  \" ± 20 % \" /\u003e\u003cDimension Id= \" 1330 \"  value=  \" 40 V \" /\u003e\u003cDimension Id= \" 1331 \"  value=  \" -40°C to +85°C \" /\u003e\u003cDimension Id= \" 1332 \"  value=  \" \u003e12000 h at 85°C \" /\u003e\u003c/dims\u003e", "ArticleDimensonColoms": ["Capacity", "Capacity tolerance", "U max", "Temperature range", "Life expectancy"], "ArticleDimensonData": [" 10000 µF ", " ± 20 % ", " 40 V ", " -40°C to +85°C ", " \u003e12000 h at 85°C "] }]
        $(document).ready(function () {
            var element = $("#grid").kendoGrid({

                dataSource: temp,
                height: 600,
                groupable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                detailInit: detailInit,//click

                dataBound: function () {
                    this.expandRow(this.tbody.find("tr.k-master-row").first());
                },
                columns: [
                    {
                        field: "ProductFamilyNo",
                        title: "ProductFamilyNo",
                        width: "110px"
                    },
                    {
                        field: "ProductFamilName",
                        title: "ProductFamilName",
                        width: "110px" 
                    },
                    {
                        field: "UsedAt",
                        title: "UsedAt",
                        width: "110px"
                    }
                ]
            });
        });

        function detailInit(e) {//id
            alert("grab e.");
            $("<div/>").appendTo(e.detailCell).kendoGrid({

                dataSource: temp1,
                scrollable: false,
                sortable: true,
                pageable: true,
                columns: [
                   {
                       field: e.data["col1"],
                       title: e.data["col1"],
                       width: "110px"
                   },
                   {
                       field: e.data["col2"],
                       width: "110px"
                   }
                ]
            });
        }
        </script>
        @*<script>
            $(document).ready(function () {
                var element = $("#grid").kendoGrid({
                    dataSource: {
                        type: "odata",
                        transport: {
                            read: "//demos.telerik.com/kendo-ui/service/Northwind.svc/Employees"
                        },
                        pageSize: 6,
                        serverPaging: true,
                        serverSorting: true
                    },
                    height: 600,
                    groupable: true,
                    sortable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    detailInit: detailInit,
                    dataBound: function () {
                        this.expandRow(this.tbody.find("tr.k-master-row").first());
                    },
                    columns: [
                        {
                            field: "FirstName",
                            title: "First Name",
                            width: "110px"
                        },
                        {
                            field: "LastName",
                            title: "Last Name",
                            width: "110px"
                        },
                        {
                            field: "Country",
                            width: "110px"
                        },
                        {
                            field: "City",
                            width: "110px"
                        },
                        {
                            field: "Title"
                        }
                    ]
                });
            });

            function detailInit(e) {
                $("<div/>").appendTo(e.detailCell).kendoGrid({
                    dataSource: {
                        type: "odata",
                        transport: {
                            read: "//demos.telerik.com/kendo-ui/service/Northwind.svc/Orders"
                        },
                        serverPaging: true,
                        serverSorting: true,
                        serverFiltering: true,
                        pageSize: 10,
                        filter: { field: "EmployeeID", operator: "eq", value: e.data.EmployeeID }
                    },
                    scrollable: false,
                    sortable: true,
                    pageable: true,
                    columns: [
                        { field: "OrderID", width: "110px" },
                        { field: "ShipCountry", title: "Ship Country", width: "110px" },
                        { field: "ShipAddress", title: "Ship Address" },
                        { field: "ShipName", title: "Ship Name", width: "300px" }
                    ]
                });
            }
        </script>*@
    </div>
