﻿@model ArticleSearch.Web.Models.UserLogIn

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<header>
    <div class="container-wrap">
        <div class="row md-padding-top" style="padding: 0">
            <div style="width: 1600px">
                <div id="links">
                    <a href="http://www.atlascopco.com/us" class="float-left">
                        <img class="logo.svg" src="/Content/images/AtlasCapcoLogo.png" alt="Atlas Copco logo - home" width="100">
                    </a>
                    <span class="site-links " style="margin-top: 22px;">
                        <strong>
                            <span class="country first-color">ArticleSearch &nbsp</span>
                        </strong>
                        <a class="corporate" href="http://www.atlascopco.com/us">atlascopco.com</a>
                    </span>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="row sm-padding-top-bottom border-bottom border-top fifth-border-color">
    <div class="col-lg-12 col-sm-12">
        <div class="col-lg-12 col-sm-12">
            <span class="xs-padding-right first-color">Login</span><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span>
        </div>
    </div>
</div>
<div class="container xl-margin-top-bottom xl-padding-top-bottom">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <center style="color:red;">@ViewBag.errorMsg</center>
                      @using (Html.BeginForm("Index", "Login", FormMethod.Post, new {@role="form" }))
                      {
                       <div class="form-group">
                       @Html.TextBoxFor(t => t.UserName, new { @class = "form-control" , @placeholder="User Name"}) 
                        </div>
                        <div class="form-group">
                       @Html.TextBoxFor(t => t.Password, new { @class = "form-control", @type = "password", @placeholder="Password" })
                        </div>
                        <div class="col-md-12">
                           <input type="submit" Value="Login" class="btn first-bg-fifth-color btn-block" /> 
                        </div>
                         
                      }
                    
                </div>
            </div>
        </div>
    </div>
</div>
<footer style="position: fixed; bottom: 1px; width: 100%;">
    <div class="row border-top border-bottom fourth-border-color">
        <div class="container-wrap">
            <div class="col-sm-12 md-margin-top-bottom no-padding">
                <div class="col-lg-2 col-sm-3">
                    <img src="../../Content/images/1459243245550.png" alt="" width="100%" height="100%" />
                </div>
                <div class="col-lg-6 col-lg-offset-4 col-sm-9">
                    <div class="container-fluid no-padding noticeClass">
                        <div class="no-padding" id="myNavbar4">
                            <ul class="nav navbar-nav menu4 xl-margin-left">
                                <li><a href="#">Legal notice & cookies</a></li>
                                <li><a href="#">Sitemap</a></li>
                                <li><a href="#">© 2016 Atlas Copco AB</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>



@*@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<header>
    <div class="container-wrap">
        <div class="row md-padding-top" style="padding: 0">
            <div style="width: 1600px">
                <div id="links">
                    <a href="http://www.atlascopco.com/us" class="float-left">
                        <img class="logo.svg" src="/Content/images/AtlasCapcoLogo.png" alt="Atlas Copco logo - home" width="100">
                    </a>
                    <span class="site-links " style="margin-top: 22px;">
                        <strong>
                            <span class="country first-color">ArticleSearch &nbsp</span>
                        </strong>
                        <a class="corporate" href="http://www.atlascopco.com/us">atlascopco.com</a>
                    </span>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="row sm-padding-top-bottom border-bottom border-top fifth-border-color">
    <div class="col-lg-12 col-sm-12">
        <div class="col-lg-12 col-sm-12">
            <span class="xs-padding-right first-color">Login</span><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span>
        </div>
    </div>
</div>
<div class="container xl-margin-top-bottom xl-padding-top-bottom">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <input class="form-control" placeholder="User Name" name="email" type="email" autofocus="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" value="">
                        </div>
                        <div class="col-md-12">
                            <a href="@Url.Action("index", "home")" class="btn first-bg-fifth-color btn-block">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer style="position: fixed; bottom: 1px; width: 100%;">
    <div class="row border-top border-bottom fourth-border-color">
        <div class="container-wrap">
            <div class="col-sm-12 md-margin-top-bottom no-padding">
                <div class="col-lg-2 col-sm-3">
                    <img src="../../Content/images/1459243245550.png" alt="" width="100%" height="100%" />
                </div>
                <div class="col-lg-6 col-lg-offset-4 col-sm-9">
                    <div class="container-fluid no-padding noticeClass">
                        <div class="no-padding" id="myNavbar4">
                            <ul class="nav navbar-nav menu4 xl-margin-left">
                                <li><a href="#">Legal notice & cookies</a></li>
                                <li><a href="#">Sitemap</a></li>
                                <li><a href="#">© 2016 Atlas Copco AB</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>*@
