﻿@model ArticleSearch.Web.Models.FamilyInfoModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    <div id="main" class="col-sm-12">
        <div class="col-sm-6">
            <fieldset>
                <legend style="font-weight: bold">Create Family</legend>
                <div class="col-sm-10">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.FamilyNumber)
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="editor-label">
                        @Html.TextBoxFor(model => model.FamilyNumber, new { @class = "form-control", @type = "text", @id = "txtFamilyNo", @placeholder = "e.g. 0995 1500 00" })
                        @Html.ValidationMessageFor(model => model.FamilyNumber)
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.FamilyName)
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.FamilyName, new { @class = "form-control", @type = "text", @id = "txtFamilyName", @placeholder = "e.g. Connector for printed boards" })
                        @Html.ValidationMessageFor(model => model.FamilyName)
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.StandardReference)
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.StandardReference, new { @class = "form-control", @type = "text", @id = "txtStdRef", @placeholder = "e.g. abc" })
                        @Html.ValidationMessageFor(model => model.StandardReference)
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.CategoryId)
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.CategoryId, new { @class = "form-control", @type = "text", @id = "txtCategory", @placeholder = "e.g. 3" })
                        @Html.ValidationMessageFor(model => model.CategoryId)
                    </div>
                </div>


                @*Dynamic fields Inputs textbox code*@
                <div class="col-sm-12">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DimensionName)
                    </div>
                </div>

                <div class="multi-field-wrapper ">
                    <div class="multi-fields">
                        <div class="multi-field ">
                            <div class="col-sm-10" style="margin-bottom:10px;">
                                <input type="text" name="DimName" placeholder="e.g. Voltage" class="form-control form-inline">
                            </div>
                            
                                <button type="button" class="remove-field" style="float:left;"><b>Remove</b></button>
                            
                        </div>
                    </div>
                    <div class="col-sm-12" style="margin:10px 0;">
                        <button type="button" class="add-field"><b>Add Field</b></button>
                    </div>
                </div>



                <div class="col-sm-8" style="margin-bottom:10px;">
                    <input type="submit" value="Create Family" class="btn first-bg-fifth-color btn-block" onclick="chekForBlank()" />
                </div>
            </fieldset>
        </div>
    </div>
      
    <span style="color: red">@ViewBag.error</span>
}


@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

<script>
    //dynamic fields functionality
    $('.multi-field-wrapper').each(function () {
        
        var $wrapper = $('.multi-fields', this);
        $(".add-field", $(this)).click(function (e) {
            // checking forexceeding limit of 30
            if ($('.multi-field', $wrapper).length >= 30) {
                alert('Dimension can not be More Than 30');
            } else {
                $('.multi-field:first-child', $wrapper).clone(true).appendTo($wrapper).find('input').val('').focus();
            }
           
            
        });
        $('.multi-field .remove-field', $wrapper).click(function () {
            if ($('.multi-field', $wrapper).length > 1) {
                $(this).parent('.multi-field').remove();
            }
            else {
                alert('atleast 1 field is Required'); 
            }
            
        });
    });
    // Validaitons
    function chekForBlank() {
        var familyNo = $('#ff').val();
        if (familyNo=="") {
            alert('Family Number is');
        }
    }
</script>
