﻿@{
    ViewBag.Title = "Search_Article_or_Family";
}

<h2>Search Articles</h2>

<input id="txt" type="text">
<button id="buttonid">Click Me</button>
<br />

@{
    if (ViewBag.articleData !=null)
    {
        <table>
            <tbody>
            
          
            @foreach (var item in ViewBag.articleData)
            {
             <h4>basic Info</h4> 
            <p>Article No:@item.ArticleNo  &nbsp; Family No.:@item.ProductFamilyNo &nbsp; Atlas copco Drawing No: @item.DrawingNo</p> 
                <hr />
          
            <h4>Article Name</h4>
            <p>Language: English  &nbsp; Article Name:@item.ArticleName </p> 
                <hr />
                
                <h4>Technical Data</h4>
                <p>Article Name:@item.ArticleName &nbsp; Family Name: @item.ProductFamilName &nbsp; <br />
                    SG:@item.SG &nbsp; SC:@item.SC &nbsp; Supplyer Name:@item.SupplierName &nbsp; Supplyer Designation=@item.SupplierDesignation &nbsp; <br />
                   <br /><br />
                    <table>
                        <tr>
                    @foreach (var dim_cols in @item.ArticleDimensonColoms)
                    {
                        <th>&nbsp;@dim_cols &nbsp;</th>
                    }
                        </tr>
                        <tr>
                   @foreach (var dim in @item.ArticleDimensonData)
	                {
		                <td> @dim </td>
	                }
                            </tr>
                        </table>
                     </p>
                <hr />
                <h2>Codes</h2>
                <i>Not provide in sheet</i>
                <hr />
                <h2>Used At</h2>
                <tr></tr>
                <td>@item.UsedAt</td>
            }
            
            </tbody>
            

        </table>
    }
    else
    {
        <b style="color:red">Article Not Found of this Number </b>
    }
}